/* encompasses the space the search bar covers */
.search{
    --padding: 15px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 30px;
    background: #f6f6f6;
    width: 100%;
    transition: background 0.25s;
}
/* the actual input field for the searchbar */
.search-input{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color:#333;
    margin-left:var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search:focus-within{
    background: #f1f1f1;
}

.search-input::placeholder, .search-icon{
    color: rgba(0,0, 0.25);
}

table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}